{% extends 'base.html' %}

{% block title %}
   <title>Профиль</title>
{% endblock %}

{% block navbar %}
    {% if user == user_obj %}
<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile_change' user_obj.pk %}">Редактировать</a>
        </li>
    {% endif %}
{% endblock %}



{% block content %}
	    <div class="card mt-5" style="width: 18rem;">
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" class="card-img-top" alt="...">
            {% endif %}

  <div class="card-body">
    <h5 class="card-title">Имя - {{ user_obj.username }}</h5>
      <p>Email - {{ user_obj.email }}</p>
    <p class="card-text">День рождения - {{ user_obj.profile.birth_date|default:"не указан"}}</p>
    {% if user == user_obj %}
      <a href="{% url 'accounts:profile_change' user_obj.pk %}" class="btn btn-primary">Редактировать профиль</a>
          <a href="{% url 'accounts:password_change' user_obj.pk %}" class="btn btn-primary">Сменить пароль</a>
 {% endif %}
  </div>
</div>

    {% include 'partial/projects_list_partial.html'  %}

{% endblock %}