{% csrf_token %}

<p><label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label></p>
{% for error in form.name.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.name }}</p>

<p><label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label></p>
{% for error in form.description.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.description }}</p>

<p><label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label></p>
{% for error in form.status.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.status }}</p>

<p><label for="{{ form.completion_date.id_for_label }}">{{ form.completion_date.label }}</label></p>
{% for error in form.completion_date.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.completion_date }}</p>

     <input class="btn btn-success" type="submit" value="{{ btn_text }}"/>

