{% csrf_token %}

{% for error in form.non_field_errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}

<p><label for="{{ form.summary.id_for_label }}">{{ form.summary.label }}</label></p>
{% for error in form.summary.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.summary }}</p>

<p><label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label></p>
{% for error in form.description.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.description }}</p>

<p><label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label></p>
{% for error in form.status.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.status }}</p>

<p><label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label></p>
{% for error in form.type.errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}
<p>{{ form.type }}</p>

     <input class="btn btn-success" type="submit" value="{{ btn_text }}"/>

