{% extends 'base.html' %}

{% block title %}
    	<title>Tasks</title>
    {% endblock %}

{% block content %}
<div class="row mt-5">
     {% for task in tasks %}
         <div class="col-12 col-md-4 col-lg-3 mb-3">
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{task.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.get_status_display }}</h6>
    <p style="white-space: pre-wrap;" class="card-text">{{ task.completion_date }}</p>
    <a href="{% url 'detail_task' task.pk %}" style="text-decoration: none;" class="card-link">Подробности</a>
      <a href="{% url 'update_task' task.pk %}" style="text-decoration: none;" class="card-link">Редактировать</a>
      <a href="{% url 'delete_task' task.pk %}" style="text-decoration: none;" class="card-link">Удалить</a>
  </div>
</div>
         </div>
         {% empty %}
        <p>No tasks</p>
        {% endfor %}
</div>

{% endblock %}