{% extends 'base.html' %}

{% block title %}
    	<title>Update task</title>
{% endblock %}

 {% block navbar %}
               <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'create_task' %}">Создать задачу</a>
        </li>
 {% endblock %}

{% block content %}

<div class="mt-3">
<h1> Редактировать {{ task.summary }}</h1>
<form action="" method="post" class="w-50 ms-auto me-auto mt-3">
  {% include 'partial/task_form.html' with btn_text='Редактировать' %}
</form>
</div>

{% endblock %}