{% extends 'tasks/../base.html' %}

{% block title %}
    	<title>Детальный просмотр</title>
    {% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'webapp:create_task' %}">Создать</a>
        </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'webapp:update_task' task.pk %}">Редактировать</a>
        </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'webapp:delete_task' task.pk %}">Удалить</a>
        </li>

    {% endif %}
          {% endblock %}

{% block content %}

   <div class="card mt-3">
  <div class="card-header">
    <strong>{{task.summary}}</strong>
  </div>
  <div class="card-body">
    <figure>
      <blockquote class="blockquote">
        <p>{{  task.description }}</p>
      </blockquote>
      <figcaption class="blockquote-footer mt-3">
        Статус: <cite title="Статус">{{ task.status.name }}</cite>
      </figcaption>
        <figcaption class="blockquote-footer">
       Добавлено:  <cite title="Добавлено">{{ task.created_at }}</cite>
      </figcaption>
        <figcaption class="blockquote-footer">
       Обновлено: <cite title="Обновлено">{{ task.updated_at }}</cite>
      </figcaption>
{#    <figcaption class="blockquote-footer">#}
{#       Типы: <cite title="Типы">{% for type in task.type.all %} {% if forloop.last %} {{ type }}. {% else %} {{ type }}, {% endif %}{% endfor %}</cite>#}
{#      </figcaption>#}
    <figcaption class="blockquote-footer">
       Типы: <cite title="Типы">{% for type in types %} {% if forloop.last %} {{ type }}. {% else %} {{ type }}, {% endif %}{% endfor %}</cite>
      </figcaption>
    <figcaption class="blockquote-footer">
       Автор: <cite title="Автор">{{ task.author }}</cite>
      </figcaption>
    </figure>
  </div>
</div>
{% endblock %}